Django==4.0.4
easyocr==1.6.2
pytesseract==0.3.10
requests==2.27.1
pandas==1.5.1
ipython  # interactive notebook
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python==4.5.5.62
Pillow>=7.1.2
psutil  # system resources
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
thop>=0.1.1  # FLOPs computation
torch>=1.7.0  # see https://pytorch.org/get-started/locally (recommended)
torchvision>=0.8.1
tqdm>=4.64.0
