*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.page{
    height: 100%;
    width: 100%;
    background-image: url(../loginsignup/background.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../loginsignup/background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 8% auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 230px;
    margin: 60px auto;
    background-color: rgba(73,183,179,255);
    position: relative;
    box-shadow: 0 0 20px 9px rgba(73,183,179,255);
    font-size: 20px;
    border-radius: 30px;
}

.toggle-btn{
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 125px;
    height: 100%;
    background: linear-gradient(to right, aqua, rgb(110, 186, 236));
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    color: white;
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.submit-btn{
    margin-top: 80px;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, aqua, rgb(110, 186, 236));
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login .input-field{
    color: white;
    font-size: 18px;
}

#register .input-field{
    color: white;
    font-size: 18px;
}

#login .submit-btn{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

#register .submit-btn{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}


#login{
    left: 50px;
}
#register{
    left: 450px;
}