<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodv!sor</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page" style="background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url({% static 'images/background.jpg' %})">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Sign Up</button>
            </div>
            <form id="login" class="input-group">
                <input type="text" class="input-field" placeholder="User Id" required>
                <input type="password" class="input-field" placeholder="Enter Password" required>
                <button type="submit" class="submit-btn">Log in</button>
            </form>   
            <form id="register" class="input-group">
                <input type="text" class="input-field" placeholder="User Id" required>
                <input type="email" class="input-field" placeholder="Email Id" required>
                <input type="password" class="input-field" placeholder="Enter Password" required>
                <button type="submit" class="submit-btn">Register</button>
            </form>                     
        </div>
    </div>

    <script>
        var x= document.getElementById('login')
        var y= document.getElementById('register')
        var z= document.getElementById('btn')

        function register(){
            x.style.left ='-400px';
            y.style.left ='50px';
            z.style.left ='110px';
        }
        function login(){
            x.style.left ='50px';
            y.style.left ='450px';
            z.style.left ='0px';
        }
    </script>

</body>
</html>