<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodv!sor</title>
</head>
<body>
    {% extends 'structure.html' %}
    {% block content %}
    <div class='header-bar'>
        <h1 style='color:white;'>REGISTER</h1>
    </div>

    <div class='card-body'>
    <form method='POST'>
        {% csrf_token %}
        <label style='margin-bottom:10px; margin-top:10px; height: 1.5rem;'>
            {{form.username.label}}
        </label>
        {{form.username}}
        <label style='margin-bottom:10px; margin-top:15px; height: 1.5rem;'>
            {{form.password1.label}}
        </label>
        {{form.password1}}
        <label style='margin-bottom:10px; margin-top:15px; height: 1.5rem;'>
            {{form.password2.label}}
        </label>
        {{form.password2}}
        <input style='margin-top:30px;' class='button' type='submit' value='Register'>
    </form>

    <p style='text-align: center;'>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
    {% endblock content %}
</body>
</html>