<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodv!sor</title>
    <link rel="stylesheet" href="{% static 'styles/scan.css' %}">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
</head>

<body style="background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url({% static 'images/food.jpg' %})">
    <div class="container">

        <form method="post" enctype="multipart/form-data">
            <div class="img-area" data-img="">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <input type="file" name="sentFile" />

            </div>
            <input type="submit" name="submit" value="Upload" />
            <!-- <button type="submit" class="select-image">Upload</button> -->
        </form>
    </div>
    <!--    {% if nutrition %}-->
    <!--        <h3>Results : {{ nutritions }}</h3>-->
    <!--        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">-->
    <!--    {% endif %}    -->
</body>

</html>
