<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodv!sor</title>
    <link rel="stylesheet" href="{% static 'styles/scan.css' %}">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
</head>

<body style="background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url({% static 'images/food.jpg' %})">
    <div class="container">
        {% if nutrition %}
            <div class="title"><h3 style="color:white">Results:</h3></div>
            {% for key, val in nutrition.items %}
                <div>
                <p style="color:#EDEADE">{{ key }} :</p>
                </div>
                <progress id="file" value="{{ val }}" max="100"> 32% </progress>
            {% endfor %}
        {% else %}
            <form method="post" enctype="multipart/form-data">
                <div class="img-area" data-img="">
                    {% csrf_token %}
                    <input type="file" name="sentFile" />

                </div>
                <input class="select-image" type="submit" name="submit" value="Upload" />
                <!-- <button type="submit" class="select-image">Upload</button> -->
            </form>
        {% endif %}
    </div>
</body>

</html>
