{% include 'head.html' %}
{% load static %}

<body>
    <section id='header' style="background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url({% static 'images/food1.jpg' %})">
        <div class="container">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
            <div class="header-text">
                <!-- <br> -> to break a line to next line -->
                <h1>Diet Planning and Recipe Recommendation</h1>
                <span class="square"></span>
                <p>HealthFreak without the “freak” part</p>
                <button class="common-btn"><span></span>SIGN UP NOW</button>
                <a href="{% url 'login' %}"><button class="common-btn"><span></span>LOG IN</button></a>
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span><br>
                    <span class="line-4"></span>
                </div>
            </div>
        </div>
    </section>

    <nav id="sideNav">
        <ul>
            <li><a href="#header">HOME</a></li>
            <li><a href="#features">FEATURES</a></li>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="#">LOG IN</a></li>
            <li><a href="#">SIGN UP</a></li>
        </ul>
    </nav>
    <img src="{% static 'images/menu.png' %}" alt="menu" id="menuBtn">

    <!-- ABOUT

    <section id="about">
        <div class="about-left-col">
            <img src="images/about.png" alt="about">
        </div>
        <div class="about-right-col">
            <div class="about-text">
                <h1>About Us</h1>
                <span class="square"></span>
                <p>tttttttttttttttttvsnjbsjbsjgklsnkgnsnsngklnskgnksng<br>
                    ksgknskngksngksnkngksngksnkngksnkgnsklnksnnsliktngs<br>
                    jgipnsklngksnkldgianiongsklngklmhg</p><br><br>
                    <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span><br>
                        <span class="line-4"></span>
                    </div>

                <h2>fknsjngafnakdamlwjriowteiiiiiireuyrgeurg</h2>
                <h3>----------------AM</h3>
            </div>
        </div>

    </section> -->

    <!-- FEATURES -->

    <section id="features">
        <div class="feature-row">
            <div class="feature-col">
                <img src="{% static 'images/camera.png' %}" alt="pic1">
                <h4>Scan Food Item</h4>
                <p>To know insights about the food</p>
            </div>
            <div class="feature-col">
                <img src="{% static 'images/dish.png' %}" alt="pic2">
                <h4>Get Recommendation</h4>
                <p>Based on your desired taste</p>
            </div>
        </div>
        <div class="feature-btn">
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
                <span class="line-4"></span>
            </div>
            <button class="common-btn">Start Free Trial</button>
        </div>
    </section>

    <!-- courses
    <section id="courses">
        <div class="container course-row">
            <div class="course-left-col">
                <div class="course-text">
                    <h1>Browse our top<br>courses</h1>
                    <span class="square"></span>
                    <p>kdsnfnasfjsfjsjfnsjdnflsnkldfnskldnkfnnnnnnnnnnn
                        nnnnnnnnbfnsfnaknfknaklfn</p>
                    <button class="common-btn">View</button>
                    <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span><br>
                        <span class="line-4"></span>
                    </div>
                </div>
            </div>
            <div class="course-right-col">
                <img src="images/course.png" alt="course">
            </div>
        </div>
    </section> -->

    <!-- offer
 
    <section id="offer">
        <div class="about-left-col">
            <img src="images/offer.png" alt="offer">
        </div>
        <div class="about-right-col">
            <div class="about-text">
                <h1>About Us</h1>
                <span class="square"></span>
                <p>tttttttttttttttttvsnjbsjbsjgklsnkgnsnsngklnskgnksng<br>
                    ksgknskngksngksnkngksngksnkngksnkgnsklnksnnsliktngs<br>
                    jgipnsklngksnkldgianiongsklngklmhg</p><br><br>
                    <button class="common-btn">START</button>
                    <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span><br>
                        <span class="line-4"></span>
                    </div>
            </div>
        </div>
    </section> -->

    <!-- contact -->
    <section id="contact">
        <div class="container contact-row">
            <div class="contact-left-col">
                <h1>Sign Up</h1>
                <form>
                    <input type="text" placeholder="Enter Name">
                    <input type="email" placeholder="Enter Email Id">
                    <input type="password" placeholder="Enter Password">
                    <div class="btn-box">
                        <button class="common-btn">SIGN UP</button>
                        <button class="common-btn">LOG IN</button>
                    </div>
                </form>
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span><br>
                    <span class="line-4"></span>
                </div>
            </div>
            <div class="contact-right-col">
                <img src="{% static 'images/health.jpg' %}" alt="contact">
            </div>
        </div>
    </section>

    <!-- footer -->
    <section id="footer">
        <div class="container footer-row">
            <hr>
            <div class="footer-left-col">
                <div class="footer-links">
                    <div class="link-title">
                        <h4>Product</h4>
                        <small>Our Plan</small><br>
                        <small>Free Trial</small>
                    </div>
                    <div class="link-title">
                        <h4>About Us</h4>
                        <small>Request Demo</small><br>
                        <small>FAQs</small>
                    </div>
                    <div class="link-title">
                        <h4>Support</h4>
                        <small>Features</small><br>
                        <small>Contact Us</small>
                    </div>
                </div>
            </div>
            <div class="footer-right-col">
                <div class="footer-info">
                    <div class="copyright-text">
                        <small>support@abc.com</small><br>
                        <small>copyright 2020 abc</small>
                    </div>
                    <div class="footer-logo">
                        <img src="{% static 'images/logo.png' %}" alt="logo">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var menuBtn = document.getElementById('menuBtn')
        var sideNav = document.getElementById('sideNav')

        sideNav.style.right = '-300px';

        menuBtn.onclick = function () {
            if (sideNav.style.right == '-300px') {
                sideNav.style.right = '0';
            }
            else {
                sideNav.style.right = '-300px';
            }
        }
    </script>

</body>

</html>
