*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#header{
    height: 100vh;
    background-image: url("/static/images/food1.jpg");
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(food1.jpg);
    background-position: center;
    background-size: cover;
}

#header h1{
    font-size: 70px;
    color: white;
    /* rgba(73,183,179,255) */
}

.container{
    margin-right: 100px;
    margin-left: 100px;
}

.logo{
    margin-top: 30px;
    width: 200px;
}

.header-text{
    max-width: 900px;
    margin-top: 140px;
}

h1{
    font-size: 40px;
}

.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: rgba(73,183,179,255);
    margin: 15px 0;
}

.common-btn{
    padding: 18px 40px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    background-color: rgba(73,183,179,255);
    border: 0.2px solid black;
    font-weight: bold;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#header .common-btn{
    padding: 20px 40px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
    background-color: transparent;
    margin: 50px 30px 0px 0px;
    outline: none;
    border: 2px solid rgba(73,183,179,255);
    font-weight: bold;
    color: white;
    transform: translateY(-50%);
    position: relative;
    cursor: pointer;
}

#header span{
    background: rgba(73,183,179,255);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;    
}

#header  .common-btn:hover span{
    width: 100%;
}

/* #header .common-btn:hover{
    border: none;
}  */

#header p{
    margin: 45px 0px 40px;
    font-size: 20px;
    line-height: 18px;
    color: rgb(127, 228, 228);
}

p{
    margin: 20px 0px 40px;
    font-size: 20px;
    line-height: 18px;
    color: aqua;
}

.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}

.line-1{
    width: 15px;
    height: 15px;
    background: rgba(73,183,179,255);
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: rgba(73,183,179,255);
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: rgba(73,183,179,255);
    display: inline-block;
}
.line-4{
    width: 40px;
    height: 1px;
    background: rgba(73,183,179,255);
    display: inline-block;
}

.line{
    line-height: 8px;
}

#sideNav{
    font-weight: bold;
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -300px;
    top: 0;
    background: rgba(73,183,179,255);
    z-index: 2;
    transition: .5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white ;
}

#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

/* about, offer */

/* #about, #offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col{
    flex-basis: 50%;
}

.about-left-col img{
    width: 100%;
}

.about-right-col{
    flex-basis: 50%;
    text-align: right;
}

.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}
.about-text h3{

    font-size: 20px;
    font-style: italic;
    color: gray;
} */

/* features */
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}

.feature-row{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-col{
    flex-basis: 25%;
    text-align: center;
}

.feature-col img{
    width: 100px;
}

.feature-col{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.feature-btn{
    margin: 0px auto 0;
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: center;
}

.feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

/* #courses{
    padding: 100px 0;
}

.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-right-col{
    flex-basis: 50%
}

.course-right-col img{
    width: 100%;
}

.course-left-col{
    flex-basis: 50%;
}

.course-text{
    max-width: 350px;
}

.course-text button{
    margin: 30px 0;
} */

/* offer */

/* #offer button{
    margin: 30px 0;
} */

/* contact */
.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col, .contact-right-col{
    flex-basis: 50%;
}

.contact-left-col h1{
    margin: 40px;
}

.contact-right-col img{
    width: 100%;
}

form{
    max-width: 350px;
    margin: 30px 0;
}

form input{
    width: 100%;
    padding: 12px 10px;
    margin-left: 40px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid rgba(73,183,179,255);
}

.btn-box{
    width: 100%;
    margin: 10px 10px 0px 40px;
    display: flex;
    justify-content: space-between;
}

.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
}

/* footer */
#footer{
    padding: 50px 0 30px;
}

hr{
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(73,183,179,255);
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}

.footer-right-col{
    flex-basis: 35%;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4{
    color: rgba(73,183,179,255);
}

.link-title small{
    font-size: 13px;
    color: aqua;
}

.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img{
    width: 100px;
}

.copyright-text, .footer-logo{
    flex-basis: 40%;
}

@media only screen and (max-width: 770px){
    #header{
        background-image: none;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .logo{
        margin-top: 30px;
        width: 70px;
    }
    
    .header-text{
        margin-top: 100px;
    }
    
    h1{
        font-size: 25px;
    }
    #menuBtn{
        width: 40px;
        right: 50px;
    }
    .common-btn{
        padding: 10px 16px;
        background-color: transparent;
        outline: none;
        border: 2px solid red;
        font-weight: bold;
        cursor: pointer;
    }
    .about-left-col, .about-right-col{
        flex-basis: 100%;
    }
    .about-text{
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text h2{
        font-size: 18px;
    }
    .feature-col{
        flex-basis: 100px;
        margin-bottom: 20px;
    }
    .course-left-col{
        flex-basis: 100%;
    }
    .course-right-col{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .contact-left-col, .contact-right-col{
        flex-basis: 100%;
    }
    .contact-right-col{
        margin-top: 50px;
    }
    .footer-left-col, .footer-right-col{
        flex-basis: 100%;
    }
    .link-title{
        flex-basis: 50%;
        margin-bottom: 30px;
    }
}